<div class="headeractions">
   <!--   <a class="buttonimg" title="Shuffle Queue" ng-click="shuffleQueue()"><img src="images/fork_gd_11x12.png"></a>
    <a class="buttonimg" title="Delete Queue" ng-click="emptyQueue()"><img src="images/trash_fill_gd_12x12.png"></a>-->
    <a class="buttonimg" title="Close Queue" ng-click="togglePopUp()"><img src="images/x_11x11.png"></a>
</div>
<div class="header"></div>
<div id="SideQueue">
             <table border="0px" align="center" padding="10px" >
             <tr height="10px"><td>&nbsp</td></tr>
             <tr align="center"><td>
            
            	
				<a target="_blank" class="margin:10px" ng-click="togglePopUp()">
					<img class="popup-button" src="images/kalimba.png">
				</div>
				</td></tr>
				<tr height="20px"><td>&nbsp</td></tr>
				<tr height="10px"><td style="text-align:center"><b>OR GET THE APP</b></td></tr>
				<tr height="20px"><td>&nbsp</td></tr>
            <tr align="center"><td>
            
            	
				<a target="_blank" class="margin:10px" href="https://play.google.com/store/apps/details?id=net.sourceforge.kalimbaradio.androidapp">
					<img class="popup-button"  src="images/android.gif">
				</div>
				</td></tr>
				<tr height="20px"><td>&nbsp</td></tr>
				<tr align="center"><td>
			
				</a> <a target="_blank" href="https://appworld.blackberry.com/webstore/content/59963489">
					<img class="popup-button" src="images/blackberry.gif">
				</a>
			</div>
                </td></tr>
                <tr height="20px"><td>&nbsp</td></tr>
				<tr align="center"><td>
			
				</a> <a target="_blank" href="https://itunes.apple.com/za/app/kalimba-radio/id1134051549">
					<img class="popup-button" src="images/appstore.gif">
				</a>
			</div>
                </td></tr>
            </table>

        </div>
    
    
</div>
